<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IP Blocking in WAF</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ipblock.css') }}" />
  <style>
    /* Additional styles for tabs */
    .tab {
      overflow: hidden;
      background: #f1f1f1;
    }
    .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
    }
    .tab button:hover {
      background-color: #ddd;
    }
    .tab button.active {
      background-color: #ccc;
    }
    .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
    }
    .tabcontent.active {
      display: block;
    }
  </style>
</head>
<body>

  <div class="top-bar">
    <ul class="breadcrumb">
      <li><a href="dashboard">Dashboard</a></li>
      <li><a href="ipblockdash">IP Block Dashboard</a></li>
      <li>Block by checking reputation</li>
    </ul>
    <a href="{{ url_for('logout') }}"><button class="top-right-button">Log Out</button></a>
  </div>

<div class="container">
  <div class="title">IP Blocking in WAF with reputation </div>
  
  <div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'AddManually')">Add Manually</button>
    <button class="tablinks" onclick="openTab(event, 'UploadExcel')">Upload an Excel</button>
  </div>

  <div id="AddManually" class="tabcontent active">
    <!-- Existing form for adding IPs manually -->
    <form id="AddManuallyForm" action="{{ url_for('iprepblock') }}" method="post">
      <div class="ip-block">
        <p>Enter CR number below</p>
        <input class="CRinput" type="text" name="CRNO" placeholder="Ex: CHG1234567" required>

        <p>Add IP Below</p>
        <textarea class="ip-input" name="iplist" rows="10" placeholder="EXAMPLE:
11.11.11.11
22.22.22.22" required></textarea>
      </div>
      <div class="buttons">
        <button class="button" type="submit">Add</button>
      </div>
    </form>

    <div class="dash_but">
      <a href="{{ url_for('dashboard') }}">
        <button type="button" class="button">Dashboard</button>
      </a>
    </div>
  </div>

  <div id="UploadExcel" class="tabcontent">
    <!-- Form for uploading Excel file -->
    <form id="UploadExcelForm" action="{{ url_for('iprepblock') }}" method="post" enctype="multipart/form-data">
      <div class="ip-block">
        <p>Enter CR number below</p>
        <input class="CRinput" type="text" name="CRNO" placeholder="Ex: CHG1234567" required>
    
        <p>Upload Excel file</p>
        <!-- <input type="file" name="excelFile" required class="uploadxl"> -->
        <input type="file" name="excelFile" required class="uploadxl" accept=".xlsx, .xls">

      </div>
      <div class="buttons">
        <button class="button" type="submit">Add uploaded file</button>
      </div>
    </form>
    

    <div class="dash_but">
      <a href="{{ url_for('dashboard') }}">
        <button type="button" class="button">Dashboard</button>
      </a>
    </div>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }} 
        <!-- This will provide a link to the log file download -->
        <a href="{{ url_for('download_log') }}" download>click here</a> to download the log file.
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
  
</div>

<script>
  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";

    // Reset form data when switching tabs
    if (tabName === 'AddManually') {
      resetFormData('UploadExcelForm');
    } else if (tabName === 'UploadExcel') {
      resetFormData('AddManuallyForm');
    }
  }

  function resetFormData(formId) {
    var form = document.getElementById(formId);
    if (form) {
      form.reset();
    }
  }
</script>

</body>
</html>
